:root {
  font-size: 16px;
  --transition-speed: 600ms;
}

.card {
  width: 80%;
  margin-top: 20px;
  box-shadow: 0px 4px 8px 0 #a5dee5;
}

.card-body {
  padding: 20px;
}

.keyword {
  padding: 20px;
  display: inline-block;
  margin: 0;
  opacity: 0.5;
  font-size: 20px;
  border: none;
  border-bottom: px solid;
  outline: none;
}

.keyword:hover {
  opacity: 1;
  border-bottom: 1px solid;
  border-color: #a5dee5;
  width: 80%;
}

.responsive-table {
  overflow: auto;
}
.responsive-table::-webkit-scrollbar {
  width: 1rem;
}

@media only screen and (max-width: 600px) {
  .card {
    margin-left: 0rem;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
}
