/* card */
.card {
  margin-left: auto;
  margin-right: auto;
  width: 100vh;
  box-shadow: 0 4px 8px 0 rgba(192, 133, 78, 0.2); /* horizontal offset, vertical offset, blur, spread, colors */
  border-radius: 5px;
}

.card-body {
  margin: 10px;
  padding: 10px;
}

/* input */
.keyword {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid rgba(151, 55, 55, 0.747);
}

input:focus {
  outline: none;
}

/* text  */

p {
  width: 100%;
}

code {
  display: block;
  /* width: 100%; */
  border-radius: 2px;
  color: #fff;
  background-color: grey;
  padding: 10px;
  margin: 0 10px, 10px 0;
}

/* center component  */
.center-text {
  text-align: center;
}

/* button  */
.tabklik {
  color: aquamarine;
  font-size: 16px;
  font-family: monospace;
  font-weight: bold;
  margin: 20px;
}

/* table  */

table,
th,
td {
  border: 0.1px solid white;
  border-collapse: collapse;
}

table {
  margin: auto;
  width: 100%;
  text-align: center;
}

thead {
  background: linear-gradient(to right, #e66465, #9198e5);
}

th {
  padding: 20px;
}

td {
  padding: 10px;
  font-size: 15px;
  font-weight: 450;
}

tr:nth-child(even) {
  background-color: #9198e5;
}

tr:hover {
  background-color: #434a94;
  color: white;
}
